.git
.gitignore
.replit
replit.nix
replit_agent
.local
.cache
.config
.upm
__pycache__
*.pyc
*.pyo
*.egg-info
.env
.env.*
*.md
Dockerfile
docker-compose.yml
.dockerignore
attached_assets
poetry.lock
pyproject.toml
.pythonlibs
venv
.venv
*.log
.pytest_cache
