APP_ENV=staging
APP_BASE_URL=https://staging-tab-whatsappbot.ipurvey.com

MONGODB_URI=mongodb+srv://tab_wappbot_ai_stg_usr:sJx5rIjzmuHAmwxL@cluster0.efcvr.mongodb.net/tab_wappbot_ai_stg_db?retryWrites=true&w=majority
MONGODB_DB_NAME=tab_wappbot_ai_stg_db

WHATSAPP_API_TOKEN=EAAF5fZCVdNfwBQxVZBPG6xNzI40OAxZC0MmHow75xe04JO8af8BD1ejQrfenc5uiQzACpg8hyudmzjfSZAMvwq1GxarG1CLgnRJBpl63p4WsZAfqc8WFTGuTMvxeeZC0gWsd0zvyrEJnqQ3ygiyvbZA22BjRseRKdZBBZA1A1E8X5mfAJo5N9xFREZBmC5CBunXpf1yA5OMgpCMKFLaI3ToZAWlnci6WoZBOYPx5Jtqd71eBQzQqQNd4YQORMSxVoFry4GOPKInjZCPXht2aALTuzw2aI
WHATSAPP_PHONE_NUMBER_ID=139595842566038
WHATSAPP_VERIFY_TOKEN=wa_bot_verify_token_2026

LLM_API_URL=https://nonabstracted-jacqualine-undichotomously.ngrok-free.dev
LLM_API_TIMEOUT=30
