APP_ENV=staging
APP_BASE_URL=https://staging-tab-whatsappbot.ipurvey.com

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=tab_wappbot_ai_stg_db

WHATSAPP_API_TOKEN=your_whatsapp_api_token
WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id
WHATSAPP_VERIFY_TOKEN=your_verify_token

LLM_API_URL=https://your-llm-api-url.example.com
LLM_API_TIMEOUT=30
